*{
	margin: 0;
	padding: 0;
	outline: 0;
	border: 0;
}

select{
	border: 0;
	color: #eee;
}
.preloader-wrapper.tiny{
	height: 24px;
	width: 24px;
	vertical-align: middle;
}

@media (max-width: 730px){
	nav .brand-logo.left{
		font-size: 1.5rem;
	}
}

@media (max-width: 610px){
	nav .brand-logo.left{
		display: none;
	}
}