*{
	margin: 0;
	padding: 0;
	outline: 0;
	border: 0;
}
:root{
	--mdc-theme-primary: #62727b;
	--mdc-theme-primary-light: #718792;
	--mdc-theme-primary-dark: #37474f;
	--mdc-theme-secondary: #ef6c00;
	--mdc-theme-secondary-light: #fff;
	--mdc-theme-secondary-dark: #fff;
	--mdc-theme-background: #eee;
	--mdc-theme-background-dark: #212121;
	--mdc-theme-background-dark-2: #333333;
	--mdc-theme-background-dark-3: #424242;
	--mdc-theme-background-dark-4: #616161;
	--mdc-theme-text-primary-on-primary-dark: #9e9e9e;
}
body{
	min-height: 97vh;
	background-color: var(--mdc-theme-background);
}
body.mdc-theme--dark{
	background-color: var(--mdc-theme-background-dark);
}
.mdc-theme--dark .card,
.mdc-theme--dark .collapsible,
.mdc-theme--dark .collapsible-header,
.mdc-theme--dark .card-panel{
	background-color: var(--mdc-theme-background-dark-2);
	color: var(--mdc-theme-text-primary-on-primary-dark);
}
select{
	border: 0;
	color: #eee;
}
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
	pointer-events: auto;
}
.download-row{
	margin-top: 15px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.download-row h6{
	margin-left: 10px;
}
.download-row .large-btn{
	height: 54px;
	line-height: 54px;
}
.preloader-wrapper.tiny{
	height: 24px;
	width: 24px;
	vertical-align: middle;
}
.mdc-text-field{
	width: 100%;
	margin-bottom: 8px;
	margin-top: 16px;
	height: 48px;
}
.mdc-text-field:not(.mdc-text-field--upgraded) .mdc-text-field__input {
	padding-top: 23px;
}
.mdc-text-field--focused:not(.mdc-text-field--invalid):not(.mdc-text-field--disabled) .mdc-text-field__label,
.mdc-text-field--focused:not(.mdc-text-field--invalid):not(.mdc-text-field--disabled) .mdc-text-field__input::placeholder{
	color: var(--mdc-theme-primary-light);
}
.mdc-text-field__label{
	font-size: 15px;
	color: rgba(0,0,0,.87);
}
.mdc-switch{
	margin-top: 15px;
}
.mdc-switch + label{
	font-size: 13px;
	cursor: pointer;
}
.tabs{
	background-color: var(--mdc-theme-background);
}
.mdc-theme--dark .tabs{
	background-color: var(--mdc-theme-background-dark);
}
.tabs .tab a{
	color: var(--mdc-theme-primary);
	font-weight: 500;
}
.tabs .tab a:hover,
.tabs .tab a.active{
	color: var(--mdc-theme-primary-dark);
}
.tabs .indicator{
	background-color: var(--mdc-theme-primary);
}
.text-shadow{
	text-shadow: 0 0 8px rgba(0, 0, 0, 1);
}
.trailer .card-content{
	padding: 0;
}
.collapsible{
	margin: 0;
}
.collapsible, .collapsible-header{
	border: none;
	border-radius: 0 0 2px 2px;
}
.advanced .collapsible-body{
	border-left: 1px solid #616161;
}
.collapsible-body{
	border-bottom: 0;
}
.advanced .collapsible-header{
	padding: 1rem 0;
}
.collapsible-header i{
	transition: .3s ease;
}
li.active > .collapsible-header i{
	transform: rotate(180deg);
}
.mdc-theme--dark input{
	color: #eee;
}
input, .mdc-text-field__input, input[type=text]:not(.browser-default){
	transition: border-bottom-color .3s ease;
}
input[type=text]:not(.browser-default){
	border-bottom: 1px solid rgba(0,0,0,.5);
}
input[type=text]:not(.browser-default):hover{
	border-bottom: 1px solid #000;
}
.mdc-theme--dark .mdc-text-field--upgraded:not(.mdc-text-field--fullwidth):not(.mdc-text-field--box) .mdc-text-field__label{
	color: var(--mdc-theme-text-primary-on-primary);
}
.mdc-theme--dark input.select-dropdown{
	border-bottom-color: hsla(0,0%,100%,.5);
	transition: border-bottom-color .3s ease;
}
.mdc-theme--dark input.select-dropdown:hover{
	border-bottom-color: #fff;
}
.mdc-text-field.inline{
	max-width: 57px;
}
.hex .mdc-text-field{
	max-width: 180px;
}
.mdc-text-field.weight, .file-field{
	max-width: 225px;
}
.input-field.wheels{
	margin-top: 35px;
	max-width: 430px;
}
.file-field{
	margin-top: 0;
	display: flex;
}
.file-field .file-path-wrapper{
	height: 100%;
}
.file-field input.file-path{
	height: 100%;
	border: none !important;
	text-transform: uppercase;
	font-weight: 500;
	color: var(--mdc-theme-text-primary-on-primary,#fff);
	font-size: .875rem;
	text-overflow: ellipsis;
}
.gallery-btn{
	margin: 0 !important;
	line-height: 36px;
}
@media (max-width: 600px){
	.gallery-btn{
		margin-top: 15px;
		margin-left: 24px;
	}
}
ol{
	margin-left: 15px;
}
.mdc-theme--dark .select-wrapper input.select-dropdown{
	color: var(--mdc-theme-text-primary-on-primary);
}
.select-wrapper input.select-dropdown:focus{
	border-bottom: #546e7a solid 1px;
}
.wheels .select-wrapper li{
	height: 70px;
}
.mdc-theme--dark .wheels .dropdown-content{
	background-color: #424242;
}
.mdc-theme--dark .wheels .select-dropdown.dropdown-content li:hover{
	background-color: #515151;
}
.wheels .dropdown-content li>a, .dropdown-content li>span{
	line-height: 61px;
	padding: 5px 16px;
	color: var(--mdc-theme-text-primary-on-primary-light);
}
.mdc-theme--dark .wheels .dropdown-content li>a,
.mdc-theme--dark .dropdown-content li>span{
	color: #eee;
}
.wheels .select-wrapper li img{
	width: auto;
	height: 60px;
}
.select-dropdown.dropdown-content li.selected{
	background-color: transparent;
}
.select-dropdown.dropdown-content li:hover {
	background-color: rgba(0,0,0,0.08);
}
.wheels .dropdown-content li.active span,
.wheels .dropdown-content li.selected span{
	color: #ffab40;
}
.select-wrapper .caret{
	z-index: 0;
	fill: #888;
}

.mdc-fab span{
	font-size: 20px;
	font-weight: bold;
}
.footer-copyright{
	font-size: 12px;
}
.footer-copyright{
	text-decoration: none;
	display: block;
}

label, a{
	color: var(--mdc-theme-text-primary-on-primary-light);
}
.mdc-theme--dark footer h4,
.mdc-theme--dark footer h5,
.mdc-theme--dark footer h6,
.mdc-theme--dark footer p,
.mdc-theme--dark footer span,
.mdc-theme--dark label,
.mdc-theme--dark footer a{
	color: var(--mdc-theme-text-primary-on-primary-dark);
}

@media (max-width: 730px){
	nav .brand-logo.left{
		font-size: 1.5rem;
	}
}
@media (max-width: 610px){
	nav .brand-logo.left{
		display: none;
	}
}
@media (min-width: 601px){
	.left-med-and-up{
		float: left !important;
	}
	.right-med-and-up{
		float: right !important;
	}
}

/* scrollbar */
*::-webkit-scrollbar {
	width: 5px;
}
*::-webkit-scrollbar-track {
	background-color: transparent;
}
*::-webkit-scrollbar-thumb {
	background-color: #bdbdbd;
}