*{
	margin: 0;
	padding: 0;
	outline: 0;
	border: 0;
}
body{
	min-height: 97vh;
}
select{
	border: 0;
	color: #eee;
}
.preloader-wrapper.tiny{
	height: 24px;
	width: 24px;
	vertical-align: middle;
}
input{
	color: #eee;
}
.input-field.inline{
	max-width: 50px;
}
ol{
	margin-left: 15px;
}
.btn-floating{
	font-size: 25px;
	font-weight: bold;
}
.footer-copyright{
	font-size: 12px;
}

@media (max-width: 730px){
	nav .brand-logo.left{
		font-size: 1.5rem;
	}
}
@media (max-width: 610px){
	nav .brand-logo.left{
		display: none;
	}
}