*{
	margin: 0;
	padding: 0;
	outline: 0;
	border: 0;
}
body{
	min-height: 97vh;
}
select{
	border: 0;
	color: #eee;
}
.download-row{
	margin-top: 15px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.download-row h6{
	margin-left: 10px;
}
.preloader-wrapper.tiny{
	height: 24px;
	width: 24px;
	vertical-align: middle;
}
.tabs .indicator{
	background-color: #607d8b;
}
.text-shadow{
	text-shadow: 0 0 8px rgba(0, 0, 0, 1);
}
.trailer .card-content{
	padding: 0;
}
.collapsible{
	margin: 0;
}
.collapsible, .collapsible-header{
	border-radius: 4px;
	border-color: #424242 ;
}
.collapsible-body{
	border-bottom: 0;
}
.collapsible-header i{
	transition: .3s ease;
}
li.active > .collapsible-header i{
	transform: rotate(180deg);
}
input{
	color: #eee;
}
.input-field.inline{
	max-width: 50px;
}
ol{
	margin-left: 15px;
}
.btn-floating{
	font-size: 25px;
	font-weight: bold;
}
.footer-copyright{
	font-size: 12px;
}

@media (max-width: 730px){
	nav .brand-logo.left{
		font-size: 1.5rem;
	}
}
@media (max-width: 610px){
	nav .brand-logo.left{
		display: none;
	}
}